trunk/ejemplosJavaEE/ClienteDirectorioApp/src/META-INF/wsdl/localhost_8080/AgendaFacadeService/AgendaFacade.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.modelo.xtecuan.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.modelo.xtecuan.org/" name="AgendaFacadeService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.modelo.xtecuan.org/" schemaLocation="http://localhost:8080/AgendaFacadeService/AgendaFacade?xsd=1"/>
</xsd:schema>
</types>
<message name="encontrarPorId">
<part name="parameters" element="tns:encontrarPorId"/>
</message>
<message name="encontrarPorIdResponse">
<part name="parameters" element="tns:encontrarPorIdResponse"/>
</message>
<message name="borrarAgenda">
<part name="parameters" element="tns:borrarAgenda"/>
</message>
<message name="borrarAgendaResponse">
<part name="parameters" element="tns:borrarAgendaResponse"/>
</message>
<message name="actualizarAgenda">
<part name="parameters" element="tns:actualizarAgenda"/>
</message>
<message name="actualizarAgendaResponse">
<part name="parameters" element="tns:actualizarAgendaResponse"/>
</message>
<message name="encontrarPorEjemplo">
<part name="parameters" element="tns:encontrarPorEjemplo"/>
</message>
<message name="encontrarPorEjemploResponse">
<part name="parameters" element="tns:encontrarPorEjemploResponse"/>
</message>
<message name="crearAgenda">
<part name="parameters" element="tns:crearAgenda"/>
</message>
<message name="crearAgendaResponse">
<part name="parameters" element="tns:crearAgendaResponse"/>
</message>
<portType name="AgendaFacade">
<operation name="encontrarPorId">
<input wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/encontrarPorIdRequest" message="tns:encontrarPorId"/>
<output wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/encontrarPorIdResponse" message="tns:encontrarPorIdResponse"/>
</operation>
<operation name="borrarAgenda">
<input wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/borrarAgendaRequest" message="tns:borrarAgenda"/>
<output wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/borrarAgendaResponse" message="tns:borrarAgendaResponse"/>
</operation>
<operation name="actualizarAgenda">
<input wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/actualizarAgendaRequest" message="tns:actualizarAgenda"/>
<output wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/actualizarAgendaResponse" message="tns:actualizarAgendaResponse"/>
</operation>
<operation name="encontrarPorEjemplo">
<input wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/encontrarPorEjemploRequest" message="tns:encontrarPorEjemplo"/>
<output wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/encontrarPorEjemploResponse" message="tns:encontrarPorEjemploResponse"/>
</operation>
<operation name="crearAgenda">
<input wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/crearAgendaRequest" message="tns:crearAgenda"/>
<output wsam:Action="http://ejb.modelo.xtecuan.org/AgendaFacade/crearAgendaResponse" message="tns:crearAgendaResponse"/>
</operation>
</portType>
<binding name="AgendaFacadePortBinding" type="tns:AgendaFacade">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="encontrarPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarPorEjemplo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AgendaFacadeService">
<port name="AgendaFacadePort" binding="tns:AgendaFacadePortBinding">
<soap:address location="http://localhost:8080/AgendaFacadeService/AgendaFacade"/>
</port>
</service>
</definitions>