trunk/ejemplosJavaEE/EjemploWebService/EjemploWebService-war/web/WEB-INF/wsdl/localhost_8080/EjemploBeanService/EjemploBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.modelo.ugb.edu.sv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.modelo.ugb.edu.sv/">

<xs:element name="agenda" type="tns:agendaDTO"/>

<xs:element name="encontrarlosTodos" type="tns:encontrarlosTodos"/>

<xs:element name="encontrarlosTodosResponse" type="tns:encontrarlosTodosResponse"/>

<xs:complexType name="encontrarlosTodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="encontrarlosTodosResponse">
<xs:sequence>
<xs:element name="return" type="tns:agendaDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agendaDTO">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="institucion" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>