trunk/ejemplosJavaEE/DirectorioApp/DirectorioApp-ejb/src/java/META-INF/wsit-org.xtecuan.modelo.ejb.AgendaFacade.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AgendaFacadeService" targetNamespace="http://ejb.modelo.xtecuan.org/" xmlns:tns="http://ejb.modelo.xtecuan.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="encontrarPorId"/>
    <message name="encontrarPorIdResponse"/>
    <message name="crearAgenda"/>
    <message name="crearAgendaResponse"/>
    <message name="borrarAgenda"/>
    <message name="borrarAgendaResponse"/>
    <message name="actualizarAgenda"/>
    <message name="actualizarAgendaResponse"/>
    <message name="encontrarPorEjemplo"/>
    <message name="encontrarPorEjemploResponse"/>
    <message name="recuperarCategorias"/>
    <message name="recuperarCategoriasResponse"/>
    <portType name="AgendaFacade">
        <operation name="encontrarPorId">
            <input message="tns:encontrarPorId"/>
            <output message="tns:encontrarPorIdResponse"/>
        </operation>
        <operation name="crearAgenda">
            <input message="tns:crearAgenda"/>
            <output message="tns:crearAgendaResponse"/>
        </operation>
        <operation name="borrarAgenda">
            <input message="tns:borrarAgenda"/>
            <output message="tns:borrarAgendaResponse"/>
        </operation>
        <operation name="actualizarAgenda">
            <input message="tns:actualizarAgenda"/>
            <output message="tns:actualizarAgendaResponse"/>
        </operation>
        <operation name="encontrarPorEjemplo">
            <input message="tns:encontrarPorEjemplo"/>
            <output message="tns:encontrarPorEjemploResponse"/>
        </operation>
        <operation name="recuperarCategorias">
            <input message="tns:recuperarCategorias"/>
            <output message="tns:recuperarCategoriasResponse"/>
        </operation>
    </portType>
    <binding name="AgendaFacadePortBinding" type="tns:AgendaFacade">
        <operation name="encontrarPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="crearAgenda">
            <input></input>
            <output></output>
        </operation>
        <operation name="borrarAgenda">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizarAgenda">
            <input></input>
            <output></output>
        </operation>
        <operation name="encontrarPorEjemplo">
            <input></input>
            <output></output>
        </operation>
        <operation name="recuperarCategorias">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="AgendaFacadeService">
        <port name="AgendaFacadePort" binding="tns:AgendaFacadePortBinding"/>
    </service>
</definitions>
